<html>
<head>
    <title>Sean的個人網站</title>
    <style>
        body {
            height:100%;
            margin: 0px;
            padding: 0px;
        }
        .nav {
            background-color: blueviolet;
            height: 10%;
        }
        .content {
            background-color: cadetblue;
            height: 90%
        }
        .nav-item {
            padding-left: 50px;
        }
        .first {
            padding-left: 200px;
        }
    </style>
</head>
<body>
    <div class="nav">
        <a class="nav-item first">Home</a>
        <a class="nav-item">About</a>
        <a class="nav-item">Resume</a>
        <a class="nav-item">Services</a>
        <a class="nav-item">Portfolio</a>
        <a class="nav-item">Dropdown</a>
        <a class="nav-item">Contact</a>
    </div>
    <div class="content">

    </div>
</body>
</html>